force-app/main/default/flows/Actualizo_puntos_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Sumo_Todo</name>
        <label>Sumo Todo</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>PuntosTrailModulos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Trail_Modulos.Puntos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TiempoTrailModulos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Trail_Modulos.Tiempo_Estimado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trail_Modulos</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Actualizo puntos Trail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizo puntos Trail</label>
    <loops>
        <name>Loop_Trail_Modulos</name>
        <label>Loop Trail Modulos</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Trae_Trail_Modulos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sumo_Todo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizo_Puntos_y_Tiempo_Trail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Trae_Trail_Modulos</name>
        <label>Trae Trail Modulos</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trail_Modulos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trail_Modulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizo_Puntos_y_Tiempo_Trail</name>
        <label>Actualizo Puntos y Tiempo Trail</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <inputAssignments>
            <field>Puntos__c</field>
            <value>
                <elementReference>PuntosTrailModulos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tiempo_Estimado__c</field>
            <value>
                <elementReference>TiempoTrailModulos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trae_Trail_Modulos</targetReference>
        </connector>
        <object>Trail__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-05</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PuntosTrailModulos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TiempoTrailModulos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
