force-app/main/default/flows/Elije_Skill_para_ir_a_Modulos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Skill_Elegida</name>
        <label>Skill Elegida</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Elegida</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_disponibles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trae_modulo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Apex</name>
        <choiceText>Apex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apex</stringValue>
        </value>
    </choices>
    <choices>
        <name>App_Lifecycle</name>
        <choiceText>App Lifecycle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>App Lifecycle</stringValue>
        </value>
    </choices>
    <choices>
        <name>App_Logic</name>
        <choiceText>App Logic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>App Logic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Data_Management</name>
        <choiceText>Data Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Database</name>
        <choiceText>Database</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Database</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataManagement</name>
        <choiceText>DataManagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DataManagement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lightning</name>
        <choiceText>Lightning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lightning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security</name>
        <choiceText>Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Elije Skill para ir a Modulos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elije Skill para ir a Modulos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Trae_modulo</name>
        <label>Trae modulo</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Muestra_Modulos_Relacionados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Elegida</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Modulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Muestra_Modulos_Relacionados</name>
        <label>Muestra Modulos Relacionados</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Trae_modulo.Name</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla</name>
        <label>Pantalla</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skill_Elegida</targetReference>
        </connector>
        <fields>
            <name>Skills_disponibles</name>
            <choiceReferences>Apex</choiceReferences>
            <choiceReferences>Lightning</choiceReferences>
            <choiceReferences>Security</choiceReferences>
            <choiceReferences>App_Lifecycle</choiceReferences>
            <choiceReferences>App_Logic</choiceReferences>
            <choiceReferences>Database</choiceReferences>
            <choiceReferences>DataManagement</choiceReferences>
            <choiceReferences>Reporting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills disponibles</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Selecciona una Skill y te llevara a un modulo que la contenga&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pantalla</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Elegida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Modulos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Modulo__c</objectType>
    </variables>
</Flow>
